body{
   
}
#banner{
    width: 100%;
}
.principal{
    background-color: #ccc;
    padding: 30px;
}
.titulo-principal{
    padding-left: 20px ;
}
.titulo-centralizado{
    text-align: center;
    
}
p{
    text-align: center;
   
}
#missao{
    style="font-size: 20px"
}

strong{
    color: #f00;
}
.itens{
    font-style: italic;
}
.beneficios{
    background:#FFFF ;
    padding: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios{
    width: 50%;
   }